# see also hh-office.conf

<FilesMatch "\.ini$">
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule print_report/(.*) print_report.py/$1
RewriteRule export_claims/(.*) export_claims.py/$1
RewriteRule upload_insurance\?(.*) upload_insurance.py\?/$1

<Files print_report.py>
  SetHandler cgi-script
  Options +ExecCGI
</Files>

<Files export_claims.py>
  SetHandler cgi-script
  Options +ExecCGI
</Files>
