/* Midwest style... counter-act some plone-isms. */
body {
  font-size: 80%
}

#portal-siteactions li a {
  text-transform: none !important
}
#portal-globalnav li a {
  text-transform: none !important
}
.contentViews li a {
  text-transform: none !important
}

.portlet h5 {
  text-transform: none !important
}

.money { text-align: right }
.qty { text-align: right }

ul.report_menu { 
  margin-left: 2em;
  list-style-image: url('../xataface-1.3rc6/images/document_icon.gif');
 }
ul.report_menu li { 
margin-bottom: 0
 }