<!DOCTYPE html> <!-- -*- nxml -*- -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Hope Harbor Amount Due Report Skeleton</title>
<link rel="stylesheet" href="office.css" />
</head>

<body class="rlib medium-print portrait">
<h1 class="ReportHeader reversed">Hope Harbor</h1>
<h2 class="PageHeader">
  <span class="literal"
	>Account Balances by Name</span>
  <span class="literal blank">_________0_________0</span>
  <span class="literal blank">_________0</span>
  <span class="field" title="date()">mm/dd/yyyy</span>
  <span class="literal blank">_________0</span>
  <span class="literal">pg. </span>
  <span class="field" title="r.pageno">##</span>
</h2>

<table class="Detail">
  <thead>
    <tr>
      <!-- todo: use style="text-align: center" -->
      <th align="center">Recent</th>
      <th align="center">Client</th>
      <th align="right">Charges</th>
      <th align="right">Client pd</th>
      <th align="right">Ins. Pd</th>
      <th align="right">Due</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td title="stod(recent)" align="right"
	  >12/31/2011</td>
      <td title="client_name" align="left"
	  >Lastname, Firstname ________9_</td>
      <td title="charges" align="right"
	  > 1,000.00</td>
      <td title="client_paid" align="right"
	  > 1,000.00</td>
      <td title="insurance_paid" align="right"
	  > 1,000.00</td>
      <td title="balance" align="right"
	  > 1,000.00</td>
    </tr>
    <tr>
      <td align="right">01/01/2011</td>
      <td align="right">12/31/2011</td>
      <td>Lastname, Firstname ________9_</td>
      <td align="right"> 100.00</td>
      <td align="right"> 100.00</td>
      <td align="right"> 100.00</td>
      <td align="right"> 100.00</td>
    </tr>
    <tr>
      <td align="right">01/01/2011</td>
      <td align="right">12/31/2011</td>
      <td>Lastname, Firstname ________9_</td>
      <td align="right"> 10.00</td>
      <td align="right"> 10.00</td>
      <td align="right"> 10.00</td>
      <td align="right"> 10.00</td>
    </tr>
    <tr>
      <td>01/01/2011</td>
      <td>12/31/2011</td>
      <td>Lastname, Firstname ________9_</td>
      <td> 1,000.00</td>
      <td> 1,000.00</td>
      <td> 1,000.00</td>
      <td> 1,000.00</td>
    </tr>
    <tr>
      <td>01/01/2011</td>
      <td>12/31/2011</td>
      <td>Lastname, Firstname ________9_</td>
      <td> 1,000.00</td>
      <td> 1,000.00</td>
      <td> 1,000.00</td>
      <td> 1,000.00</td>
    </tr>
  </tbody>
</table>

<hr />

<div>
<h2>Query</h2>
<pre><code class="query">
select *, c.name as client_name
from Client c
where c.recent >= (
 select cutoff from Batch
 where name = 'current')
order by c.name;
</code></pre>
</div>

</body>
</html>
