<!DOCTYPE html> <!-- -*- nxml -*- -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Hope Harbor Attendance by Client Skeleton</title>
<link rel="stylesheet" href="office.css" />
</head>

<body class="rlib medium-print portrait">
<h1 class="ReportHeader reversed">Hope Harbor</h1>
<h2 class="PageHeader">
  <span class="literal"
	>Attendance by Client</span>
  <span class="literal blank">0.........0.........0.........0</span>
  <span class="field" title="date()">mm/dd/yyyy</span>
  <span class="literal blank">          </span>
  <span class="literal">pg. </span>
  <span class="field" title="r.pageno">##</span>
</h2>

<table class="Breaks">
<thead>
  <tr id="per_client">
    <th id="client_id" title="client_name" align="left" class="field"
	colspan="2"
	>Lastname, Firstname ________9_</th>
    <th class="literal blank">............................</th>
    <th class="field" title="iif(officer_name>'', 'Officer: ', '')"
	>Officer: </th>
    <th id="client_id" title="officer_name" align="left" class="field"
	>Officer             ________9_</th>
  </tr>
  <tr id="per_group">
    <th class="literal blank">  </th>
    <th id="group_id" title="group_name" align="left" class="field"
	>Group X..0.........0.........0</th>
  </tr>
</thead>
<tbody><tr><td colspan="9">


<table class="Detail">
  <thead>
    <tr>
      <th align="right">Session</th>
      <th align="right">Attend</th>
      <th align="right">Charge</th>
      <th align="right">Client Pd</th>
      <th align="right">Ins. Pd</th>
      <th align="right">Due</th>
      <th align="left">  Note</th>
    </tr>
  </thead>

  <tfoot>
    <tr class="per_client">
      <td>...... mm/dd/yyyy<!-- placeholder for session date in footer --></td>
      <td title="attend_n" class="sum" align="right"
	  > 1,000</td>
      <td title="charge" class="sum money" align="right"
	  > 1,000.00</td>
      <td title="client_paid" class="sum money" align="right"
	  > 1,000.00</td>
      <td title="insurance_paid" class="sum money" align="right"
	  > 1,000.00</td>
      <td title="due" class="sum money" align="right"
	  > 1,000.00</td>
    </tr>
  </tfoot>

  <tbody>
    <tr>
      <!-- todo: literal | in detail row -->
      <td title="stod(session_date)" align="right"
	  >&#160;&#160;|&#160;&#160;01/01/2011</td>
      <td title="attend_n" align="right"
	  > 1,000</td>
      <td title="charge" align="right"
	  > 1,000.00</td>
      <td title="client_paid" align="right"
	  > 1,000.00</td>
      <td title="insurance_paid" align="right"
	  > 1,000.00</td>
      <td title="due" align="right"
	  > 1,000.00</td>
      <!-- todo: more space before note -->
      <td title="note" align="left"
	  >............................................<!--
      todo: handle multi-line notes --></td>
    </tr>
  </tbody>
</table>

</td></tr></tbody></table>

<hr />

<div>
<h2>Query</h2>
<pre><code class="query">
select * from Attendance
order by client_name, group_name, session_date
</code></pre>
</div>

</body>
</html>
