<!DOCTYPE html> <!-- -*- nxml -*- -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Hope Harbor Attendance by Client Skeleton</title>
<link rel="stylesheet" href="office.css" />
</head>

<body class="rlib medium-print portrait">
<h1 class="ReportHeader reversed">Hope Harbor</h1>
<h2 class="PageHeader">
  <span class="literal"
	>Attendance by Client</span>
  <span class="literal blank">0.........0.........0.........0</span>
  <span class="field" title="date()">mm/dd/yyyy</span>
  <span class="literal blank">        </span>
  <span class="literal">pg. </span>
  <span class="field" title="r.pageno">####</span>
</h2>

<table class="Breaks">
<thead>
  <tr id="per_client">
    <th id="client_id" title="client_name" align="left" class="field"
	colspan="2"
	>Lastname, Firstname ________9_</th>
    <th class="field" title="iif(patient_rel &gt; '', 'Copay: ', '')"
	>.......</th>
    <th class="field" align="right"
	title="copay"         >....</th>
    <th class="field" title="iif(patient_rel &gt; '', 'Ded: ', '')"
	>Ded: </th>
    <th class="field"
	title="deductible"              >........</th>
    <th class="field"
	xtitle="deductible_met"
	title="iif(deductible_met == '1', '[Y]',
                   iif(deductible_met == '0', '[n]', ''))"
	>...</th>
    <th class="field" title="iif(officer_name>'', 'Officer: ', '')"
	>Officer: </th>
    <th title="officer_name" align="left" class="field"
	>Officer                      </th>
  </tr>
  <tr id="per_group">
    <th class="literal blank">  </th>
    <th id="group_id" title="group_name" class="field"
	>Group X..0.........0.........0</th>
    <th class="field" title="iif(discharge_status &gt; '', 'Discharge: (', '')"
	>discharge: (</th>
    <th class="field" title="discharge_status">.</th>
    <th class="field" title="iif(discharge_status &gt; '', ') ', '')">..</th>
    <th class="field"
	title="iif(discharge_status &gt; '', format(stod(discharge_date), '!@%e %b %Y'), '')">10 Nov 2012</th>
  </tr>
</thead>
<tbody><tr><td colspan="9">


<table class="Detail">
  <thead>
    <tr>
      <th align="right">Session</th>
      <th align="right">Attend</th>
      <th align="right">Charge</th>
      <th align="right">Client Pd</th>
      <th align="right">Ins. Pd</th>
      <th align="right">Due</th>
      <th align="left">  Note</th>
    </tr>
  </thead>

  <tfoot>
    <tr class="per_client">
      <td> mm/dd/yyyy<!-- placeholder for session date in footer --></td>
      <td title="attend_n" class="sum" align="right"
	  > 1,000</td>
      <td title="charge" class="sum money" align="right"
	  > 1,000.00</td>
      <td title="client_paid" class="sum money" align="right"
	  > 1,000.00</td>
      <td title="insurance_paid" class="sum money" align="right"
	  > 1,000.00</td>
      <td title="due" class="sum money" align="right"
	  > 1,000.00</td>
    </tr>
  </tfoot>

  <tbody>
    <tr>
      <!-- todo: literal | in detail row -->
      <td title="stod(session_date)" align="right"
	  > 01/01/2011</td>
      <td title="attend_n" align="right"
	  > 1,000</td>
      <td title="charge" align="right"
	  > 1,000.00</td>
      <td title="client_paid" align="right"
	  > 1,000.00</td>
      <td title="insurance_paid" align="right"
	  > 1,000.00</td>
      <td title="due" align="right"
	  > 1,000.00</td>
      <!-- todo: more space before note -->
      <td title="note" align="left"
	  >............................................<!--
      todo: handle multi-line notes --></td>
    </tr>
  </tbody>
</table>

</td></tr></tbody></table>

<hr />

<div>
<h2>Query</h2>
<pre><code class="query">
select * from Attendance a
left join Insurance i on i.client_id = a.client_id
left join (
  select v.Client_id cid, s.group_id, s.session_date discharge_date, v.discharge_status
  from Visit v
  join `Session` s on v.session_id = s.id
  where v.discharge_status is not null
) ds on ds.cid = a.client_id and a.group_id = ds.group_id
order by a.client_name, a.group_name, a.session_date
</code></pre>
</div>

</body>
</html>
