<div><!-- -*- nxml -*- -->
<h3>Print Reports</h3>
<ul>
  <li><a href="print_report/attendance_by_group"
	 target='_new'>Attendance by Group</a></li>
  <li><a href="print_report/attendance_by_client"
	 target='_new'>Attendance by Client</a></li>
  <li><a href="print_report/billing_insurance"
	 target='_new'>Billing Insurance</a></li>
  <li><a href="print_report/amount_due"
	 target='_new'>Account Balances</a></li>
  <li><a href="print_report/recent_sessions"
	 target='_new'><em>Recent Sign-in Sheets</em></a></li>
  <li><a href="print_report/dup_clients"
	 target='_new'><em>Duplicate Clients</em></a></li>
</ul>
</div>
