body.rlib { font-family: monospace }
body.medium-print {  font-size: 10pt }
body.portrait { width: 8in }

h1.ReportHeader { font-size: 12pt }
h2.PageHeader { background: #d0d0d0; font-size: 11pt }

.reversed { color: white; background: black }

.Breaks tfoot { font-weight: bold }
.field { font-style: italic }
.Detail tbody tr td { font-style: italic }
.Breaks tfoot tr td { font-style: italic }

.money { color: green }
.sum { text-decoration: underline }

/* hmm... table { width: 100% } */

table.Detail thead tr th {
 border-top: 2px solid black;
 border-bottom: 2px solid black
}

table.Detail tbody tr:nth-child(even) {background: #e5e5e5}
table.Detail tbody tr:nth-child(odd) {background: white}
